.container
{
	display:flex;
	height:200px;
	background-color:green;
}

.container div
{
	background-color:yellow;
	color:#000;
	width:100px;
	margin:10px;
	padding:10px;
	text-align:center;
	font-size:30px;
}
