@property --my-bg-color
{
	syntax:"<color>";
	inherits:true;
	initial-value:lightgray;
}

div
{
	width:300px;
	height:150px;
	padding:15px;
	background-color:var(--my-bg-color);
}

.hanna
{
	--my-bg-color:yellow;
}
