div
{
	width:100px;
	height:100px;
	background-color:red;
	position:relative;
	animation-name:venner;
	animation-duration:10s;
}

@keyframes venner
{
	0%
	{
		background-color:red; left:0px; top:0px;
	}

	10%
	{
		background-color:yellow; left:0px; top:50px;
	}

	20%
	{
		background-color:blue; left:0px; top:100px;
	}

	30%
	{
		background-color:green; left:0px; top:150px;
	}

	40%
	{
		background-color:red; left:0px; top:200px;
	}

	50%
	{
		background-color:yellow; left:200px; top:200px;
	}

	60%
	{
		background-color:blue; left:200px; top:150px;
	}

	70%
	{
		background-color:green; left:200px; top:100px;
	}

	80%
	{
		background-color:red; left:200px; top:50px;
	}

	90%
	{
		background-color:yellow; left:200px; top:0px;
	}

	100%
	{
		background-color:blue; left:0px; top:0px;
	}
}
