#UP
{
	width:45px;
	height:45px;
	background-image:url("up.png");
	background-position:0 0;
}

#DOWN
{
	width:45px;
	height:45px;
	background-image:url("down.png");
	background-position:-46px 0;
}

#STOP
{
	width:45px;
	height:45px;
	background-image:url("stop.png");
	background-position:-91px 0;
}
