.container
{
	display:grid;
	grid-template-columns:auto auto auto;
	gap:5px;
	background-color:lightgreen;
	padding:5px;
}

.container div
{
	background-color:yellow;
	padding:10px;
	text-align:center;
	font-size:30px;
}

.item1
{
	grid-column-start:1;
	grid-column-end:3;
}
