.container
{
	display:flex;
	flex-direction:column-reverse;
	background-color:lightblue;
}

.container div
{
	background-color:yellow;
	width:100px;
	margin:10px;
	padding:10px;
	text-align:center;
	font-size:30px;
}
