:root
{
	--primary-bg-color:yellow;
	--primary-color:green;
}

body
{
	background-color:var(--primary-bg-color);
}

.container
{
	color:var(--primary-bg-color);
	background-color:var(--primary-color);
	padding:15px;
}

.container h2
{
	border-bottom:2px solid var(--primary-bg-color);
}

.container .note
{
	border:1px solid var(--primary-bg-color);
	padding:10px;
}
