.card
{
	display:flex;
	justify-content:center;
	list-style:none;
	padding:0px;
}

.card li a
{
	display:block;
	padding:8px 12px;
	text-decoration:none;
	border:1px solid gray;
	color:black;
	margin:0 4px;
	border-radius:5px;
}

.card li a.active
{
	background-color:#4CAF50;
	color:white;
}
