div.venner
{
	display:flex;
	flex-wrap:wrap;
	justify-content:flex-start;
}

div.venner-item
{
	margin:5px;
	border:1px solid #ccc;
	width:180px;
}

div.venner-item:hover
{
	border:1px solid #777;
}

div.venner-item img
{
	width:100%
	height:auto;
}

div.venner-item div.desc
{
	padding:15px;
	text-align:center;
}
