.Menu
{
	position:relative;
}

.MenuButton
{
	background-color:#4CAF50;
	color:white;
	padding:16px;
	font-size:16px;
	border:none;
	cursor:pointer;
}

.MenuContent
{
	display:none;
	position:absolute;
	background-color:#F9F9F9;
	min-width:200px;
	box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
}

.MenuContent a
{
	color:black;
	padding:12px 16px;
	text-decoration:none;
	display:block;
}

.MenuContent a:hover
{
	background-color:#F1F1F1;
}

.Menu:hover .MenuContent
{
	display:block;
}

.Menu:hover .MenuButton
{
	background-color:#3E8E41;
}
